/* style.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(135deg, #89f7fe 0%, #66a6ff 100%);
}

.wrapper {
  padding: 25px 30px;
  border-radius: 7px;
  background: #fff;
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.05);
}

header {
  font-size: 28px;
  font-weight: 500;
}

button {
  transition: 0.3s ease;
}

button:hover {
  background: #4534fe !important;
}
